@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,100&family=Dancing+Script&family=DynaPuff&family=Raleway:wght@200&family=Square+Peg&family=Varela+Round&display=swap');



*{
    box-sizing: border-box;
    margin:-1px;
    padding:0;
}
:root{
    --primaryColor--:rgb(252, 248, 248);
    --secondaryColor--:rgb(59, 59, 59);
}
body{
    /* background-color: gray; */
    background-color: var(--primaryColor--);
}
#navigation-top{
    display:flex;
    background-color: var(--secondaryColor--);
    justify-content: center;
    align-items: center;
    margin:auto;
    height:75px;
    position: sticky;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px gray;
    overflow: hidden;
}

.menu,.nav-list{
    display: inline-flex;
    margin-top:12px;
}

.menu{ 
    display:flex;
    flex-wrap: wrap;
    text-decoration:none;
    color:var(--primaryColor--);
    padding:10px;
    margin-top:-5px;
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content:center;

   
}
.menu>li>a{
    color:white;
    text-decoration: none;
    padding:15px;
    margin-right:35px;
    transition:all 0.2s ease-in;
}

.menu>li>a:hover{
    color:rgb(10, 105, 105);
    transform: translateY(-5px);
}

#navigation-top,img{
    margin-right: 3px;
}

#logo{
    display: block;
    position:absolute;
    z-index: 1;
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left:8px;
    margin-top:10px;
    box-shadow: 5px 5px 5px gray;
}
#main-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Dancing Script';
    font-size: 2em;
    margin-top:2.5em;
}

.icons a{
    z-index: -1;
    position: relative;
}
.icons img{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.555);
    border-radius: 50%;
    padding:3px;
    background-color: white;
    position: relative;
    z-index: -1;
    margin-left: auto;
}

.drop-down{
    display:none;
}
.toggle{
    display: hidden;
    border: none;
   
}

#section1{
    display: flex;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    margin-top: -8em;
    width:fit-content;
    margin-left:15px;
    height: auto;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.253);
    z-index: -2;
}

.banner-img{
    display: flex;
    width:250px;
    border-radius: 5% ;
    align-items: center;
    justify-content: center;
    margin:auto;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 15px;
}
.container{
    display: flex;
    /* border:1px solid black; */
    box-shadow: 5px 5px 5px 5px gray;
    padding:15px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    border-radius: 15px;
    margin:15px;
}
.plus-btn {
    display: flex;
    color:white;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryColor--);
    margin-right:45px;
    padding:5px;
    border:none;
    width:15px;
    background-color:rgb(69, 94, 30);
}
.minus-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: var(--secondaryColor--);
    margin-left:45px;
    padding:5px;
    border:none;
    font-size: 25px;
    margin-top:-24px;
    height:25px;
    width: 15px;
    background-color:rgb(69, 94, 30);
}
.banner{
    display:flex;
    width:80vw;
    justify-content: center;
    align-items:center;
    margin:auto;
    margin-bottom: 80px;
}
#display-banner{
    display:flex;
    border-radius: 15px;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:-95px;
    width:30vw;
    z-index: -1;
    position: relative;
}












/* ---------------media Screen Starts========----------------------- */

@media screen and (max-width:700px) {


#navigation-top{
    display:flex;
    background-color: var(--secondaryColor--);
    justify-content: center;
    align-items: center;
    margin:auto;
    height:75px;
    position: sticky;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px gray;
}
.toggle  {
    margin-left:auto;
    margin-right: 15px;
}



.lines>div{
    width:35px;
    height:5px;
    margin-top:6px 0;
}
/* drop down links for the navigation*/
.show-links a{
    height:0;
    overflow: hidden;
  display: none;
}


#navigation-top,img{
    margin-right: 3px;
}

#logo{
    display: block;
    position:absolute;
    z-index: 1;
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left:8px;
    margin-top:10px;
    box-shadow: 5px 5px 5px gray;
}



.icons a{
    z-index: 1;
}

.icons img{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.555);
    border-radius: 50%;
    margin-top: 5px;
    padding:3px;
    background-color: white;
    position: relative;
    z-index: 2;
    margin-left: auto;
}
#main-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Dancing Script';
    font-size: 2em;
    margin-top:2.5em;
}
#section{
    display: flex;
    margin:auto;
    margin-top: -5em;
    width:80vw;
    /* border: 1px solid black; */
    justify-content: center;
    padding: 10px;
    align-items: center;
    border-radius: 10px ;
    box-shadow: 5px 5px 5px gray;
    z-index: 1;

}
.container{
    display: flex;
    /* border:1px solid black; */
    box-shadow: 5px 5px 5px 5px gray;
    padding:10px;
    width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top:90px ;
}
    #logo{
       align-items: center;
}
    #display-banner{
        display:flex;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top:-90px;
        width:60vw;
     
        z-index: -1;
}
    

    .show-links{
        display:flex;
    }
    .toggle {
        border: none;
        color:rgb(255, 255, 255);
        background-color:rgba(255, 255, 255, 0);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        transition:all 0.2s ease-in-out;
        cursor: pointer;
    }
    .toggle:active{
        transform:rotateZ(-90deg);
    }

    .drop-down{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin:auto;
        background-color: rgba(0, 0, 0, 0.274);
        font-size: 25px;
        margin-top:25px;
        width:50vw;
     }
     .lines{
      width:35px;
      height:5px;
      background-color: white;
      margin:12px 0;
      margin-top: -5px;;
    }
    .drop-down,a {
        
        color:white;
        text-decoration: none;
    }
     .drop-down,li,a{
        display: flex;
        text-decoration: none;
        list-style: none;
        line-height: 55px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

     }

     .menu{
        display:none;
     }
     

    }

    /* ---------------media Screen ENDS========----------------------- */